<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{caption}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/terminal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        token="abc"
    </script>
</head>
<body>
    <div>
        <div id="title">{{title}}</div>
        <div id="container">
            <div>
                <input type="text" id="input" placeholder="input">
                <button id="submit">Submit</button>
            </div>
        </div>
        <div id="terminal">
            <div><span class="white"></span></div>
        </div>
    </div>
</body>
</html>
